/*----------Colors----------------*/
body {
    background-color:#343a40; 
    color:#fff;
    font-family: 'Rubik', sans-serif;
}
.container {
    /*background-color:#343a40;*/
    color:#fff;
    font-family: 'Rubik', sans-serif;
}

.container-fluid {
    /*background-color:#343a40;*/
    color:#fff;
    font-family: 'Rubik', sans-serif;
    background-color:#343a40; 
    padding-left:16px;
    padding-right: 16px; 
  
}
footer {
    color:#fff;
    font-family: 'Rubik', sans-serif;
}

/*-----------Navbar-------------*/
.navbar-nav { 
    text-align: right;
    float: right;
    font-family: 'Rubik', sans-serif;
}
.navbar-toggler{
    float: right;
}


/*------------Contact Us----------------*/
.contact-overlay {
    position:relative;
    z-index:1;
    top: 100px;
    text-align: bottom;
    padding-left:30px; 
    color:#000;  
}


.contact-details {
    padding-top: 16px;
    padding-bottom: 30px;
}

.contact-info {
    text-align: center;
}
.contact-element {
    padding-bottom:0px;
}

.input-spacing {
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 20px;
    padding-right: 20px;
}

/*-----------Gallery--------------*/
.gallery-btn {
    text-align: right;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 12px;
}
.gallery-button {
    background-color:#343a40;
    border:none;
    padding:0px;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 12px;
}




/*---------Footer-----*/
footer {
    text-align: center;
    font-size: 12px;
    padding:20px;
}


.social-links {
    font-size: 32px;
}

/*--------Membership-----------*/
.membership {
    text-align: center; 
}    
.membership-button {
    visibility: hidden;
}

.membership:hover {
    text-align: center;
    background-color: aqua;
    color:#000;
    /*.membership-button {
        visibility: visible;
    }*/
}


  

.gallery-img img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.gallery-img img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} 

/* Embedded map*/
#mapcanvas {
    background-color:#343a40; 
    padding-left:0;
    padding-right: 0; 
    padding-top: 0;
    padding-bottom: 0;
}